@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
body {
    color: #333;
}
.list {
    width: 1280px;
    /* background-color: antiquewhite; */
    margin: 100px auto;    
    display: flex;
    justify-content: space-between;
}
.list > div {
    width: 400px;
    border: 2px solid #000; 
}
.list > div figure {
    height: 600px;
}
.list > div figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list .item01 {
    position: relative;
    height: 600px;
    overflow: hidden;
    /* 벗어난 자식요소들 숨김처리 */
}
.list .item01 div {
    transition: 1s;
    position: absolute;
    left: 0;
    bottom: -100%;
    background-color: #ffffffb1;
    padding: 30px;
    /* 투명도가 적용된 배경컬러 
        내부여백 : 30px 
    */

}
.list .item01:hover div {
    bottom: 0;
}

/*  */
.list .item02 {
    height: 600px;
    position: relative;
}
.list .item02 div {
    /* display: none; */ 
    /* 존재없애기 */
    opacity: 0;

    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 0 30px;
    box-sizing: border-box;
    /* 
    div의 위치는 이미지의 좌측상단에
    붙여서 배치
    배경컬러 , 글자컬러값 
    내부여백 : 위아래100px 좌우30px
    */
}
.list .item02:hover div {
    display: block;
    opacity: 1;
    transition: 1s;
}

.list .item03 {
    height: 600px;
    position: relative;
    overflow: hidden;
}
.list .item03 div {
    position: absolute;
    left: 0;
    bottom: -165px;
    background-color: #fff;
    padding: 30px;
    transition: 0.7s;
}
.list .item03 div h4 {
    font-size: 20px;
    margin-bottom: 30px;
}
/* .list .item03한테 마우스 올렸을 때 div의
스타일 변경
=> bottom, background-color*/
.list .item03:hover div {
    bottom: 0;
    background-color: #ffffffb1;   
}